.cover__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 740px;
  background-color: rgba(42, 44, 47, 0.3);
  transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
}
.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../../images/__background.jpg);
  background-size: cover;
  z-index: -1;
}
.cover__link:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1152px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 896px) {
  .cover__link {
    min-height: 480px;
  }
}
@media screen and (max-width: 544px) {
  .cover__link {
    min-height: 200px;
  }
}
