.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 460px;
  color: #fff;
}

@media screen and (max-width: 950px) {
  .place__title {
    font-size: 62px;
    line-height: 66px;
  }
}
@media screen and (max-width: 910px) {
  .place__title {
    font-size: 52px;
    line-height: 56px;
  }
}

@media screen and (max-width: 896px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
  .place:first-child .place__title {
    max-width: 250px;
  }
}

@media screen and (max-width: 650px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .place:first-child .place__title {
    max-width: fit-content;
  }
}
