.lead {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  align-items: center;
  text-align: center;
  color: #fff;
  max-width: 100%;
  padding: 0 148px;
}
@media screen and (max-width: 1024px) {
  .lead {
    margin-top: 20px;
    padding: 0 48px;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    padding: 0;
  }
}
