.place__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

@media screen and (max-width: 896px) {
  .place__paragraphs {
    gap: 25px;
    max-width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .place__paragraphs {
    margin-left: 16px;
    margin-right: 16px;
  }
}
