.lead__image {
  margin-top: 64px;
  max-width: 100%;
}

/* @media screen and (max-width: 1280px) {
  .lead__image {
    max-width: minmax(984px 100%);
  }
}
@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
    max-width: minmax(928 100%);
  }
} */
