.cover {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 92px;
  max-width: calc(100% - 48px - 48px);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1152px) {
  .cover {
    max-width: 100%;
  }
}
@media screen and (max-width: 544px) {
  .cover {
    margin-top: 66px;
  }
}
