.footer__nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 18px;
}

@media screen and (max-width: 615px) {
  .footer__nav-list {
    flex-direction: column;
    gap: 32px;
  }
}
