.place {
  display: grid;
  gap: 48px 40px;
  grid-template-columns: 460px 484px;
}
@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
    grid-template-columns: 44% 45%;
  }
}
@media screen and (max-width: 768px) {
  .place {
    gap: 48px 28px;
    grid-template-columns: 44% 45%;
  }
}
@media screen and (max-width: 320px) {
  .place {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
