.place {
  display: grid;
  gap: 48px 40px;
  grid-template-columns: 460px 484px;
}

@media screen and (max-width: 1152px) {
  .place {
    grid-template-columns: 440px 456px;
    gap: 48px 32px;
  }
}
@media screen and (max-width: 950px) {
  .place {
    gap: 48px 28px;
    grid-template-columns: 420px 436px;
  }
}
@media screen and (max-width: 910px) {
  .place {
    grid-template-columns: 340px 352px;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 750px) {
  .place {
    grid-template-columns: 300px 312px;
    gap: 48px 28px;
  }
}
@media screen and (max-width: 670px) {
  .place {
    grid-template-columns: 290px 300px;
    gap: 48px 28px;
  }
}
@media screen and (max-width: 650px) {
  .place {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .place:not(:first-child) {
    margin-top: 50px;
  }
}
