.footer {
  margin-top: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 24px 48px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 896px) {
  .footer {
    margin-top: 82px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 615px) {
  .footer {
    margin-top: 40px;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
  }
}
