.place__website {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 12px;
}

@media screen and (max-width: 650px) {
  .place__website {
    align-self: flex-start;
    margin-left: 12px;
  }
}
